
$background-color: rgb(14,18,25);
// $background-color:  #003B4D;
// $background-color:  rgb(18,18,18);
$text-color: #F7F6F4;
$text-color-form:rgb(197,172,165);
$icon-color-form: rgb(228,229,233);
$logo-color: #00C0F9;
$hover-color:rgb(197,172,165);