<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link type="text/css" href="/css/lightbox.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700;800;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title>Danti Media</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>
  <header class="header">
    <div class="navigation">
      <div class="logo">
        <a href="/"> <img src="/images/Logo_bez_pozadí.png" alt="logo" /></a>
      </div>
      <nav class="navbar">
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li class="menu__item"><a href="/video/">Video</a></li>
            <li class="menu__item"><a href="/foto/">Foto</a></li>
            <!-- <li class="menu__item"><a href="/sluzby/">Služby</a></li> -->
            <li class="menu__item"><a href="/projekty/">Projekty</a></li>
            <li class="menu__item"><a href="/kontakt/">Kontakt</a></li>
          </ul>
        </div>
      </nav>

      <div class="social-media">
        <a
          href="https://www.youtube.com/channel/UC0tY_Xz3L5yRD7u7fAxNP7Q"
          target="_blank"
          ><i class="fab fa-youtube"></i
        ></a>
        <a href="https://www.facebook.com/groups/airmeteo" target="_blank"
          ><i class="fab fa-facebook"></i
        ></a>
        <a href="https://www.instagram.com/dantimedia/" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </header>

</html>
