{% include "partials/page_top with video.njk" %}
<!-- rozdil oproti base: video v header (class header_video, navigation_video) -->

<main>
    {{ content | safe}}
</main>

{% include "partials/contact_form.njk" %}
{% include "partials/page_bottom.njk" %}